[submodule "NewtifryPro-node"]
	path = NewtifryPro-node
	url = git@github.com:thunderace/NewtifryPro-node.git
[submodule "NewtifryPro-php"]
	path = NewtifryPro-php
	url = git@github.com:thunderace/NewtifryPro-php.git
[submodule "NewtifryProSMS-php"]
	path = NewtifryProSMS-php
	url = git@github.com:thunderace/NewtifryProSMS-php.git
[submodule "NewtifryProSMS-node"]
	path = NewtifryProSMS-node
	url = git@github.com:thunderace/NewtifryProSMS-node.git
[submodule "jeedom-newtifrypro"]
	path = jeedom-newtifrypro
	url = git@github.com:thunderace/jeedom-newtifrypro.git
[submodule "node-red-node-newtifrypro"]
	path = node-red-node-newtifrypro
	url = git@github.com:thunderace/node-red-node-newtifrypro.git
[submodule "NewtifryPro-arduino"]
	path = NewtifryPro-arduino
	url = git@github.com:thunderace/NewtifryPro-arduino.git
